{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}

        <header style="margin-top: -150px;" class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Welcome to our website!</div>
            </div>
        </header>

        <section style="margin-top: -120px;" class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            
                            <i style="font-size:100px" class="fa">&#xf240;</i> 
                        </span>
                        <h4 class="my-3">Plan</h4>
                        <p class="text-muted">Make use of our service to gather a better understanding of what your exam scores could lead you onto your next step in your acedemic career.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i style="font-size:100px" class="fa">&#xf10b;</i>
                        </span>
                        <h4 class="my-3">Responsive Design</h4>
                        <p class="text-muted">This service can be used on any device and screen-type allowing you, the user, to use it on the go or in the comfort of your home.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i style="font-size:100px" class="fa">&#xf19d;</i>
                        </span>
                        <h4 class="my-3">University Accounts</h4>
                        <p class="text-muted">University accounts can be created by school administration to help potential students within your campuses.</p>
                    </div>
                </div>
            </div>
        </section>


    {% endblock %}